*
{
    padding: 0px;
    border: 0px;
    /* overflow: hidden; */
}

h1
{
    overflow: hidden;
}

a
{
    text-decoration: none;
}

ul
{
    list-style-type: none;
}

.badge
{
    padding: 2px;
    height: 16px;
    width: 40px;
}

.chat-gpt
{
    height: 25px;
}

html{
    height: 100vh;
    }
    
    body{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        bottom: 0;
        background-color: rgb(255, 255, 255);
        }



.alert-dismissible
{
    position: absolute;
    margin-left: 1100px;
    margin-top: -700px;
    z-index: 1;
}

.navbar-nav
{

}

.navbar-nav a img
{
    height: 22px;
}

.navbar-brand
{
    /* margin-left: 50px; */
    margin-bottom: 10px;
    height: 30px;
}

.nav-link
{
    margin: 0px 35px 0px 35px;
    color: aliceblue;
    cursor: pointer;
}

.item-link
{
    cursor: pointer;
}

.tool-ul
{
    height: 400px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.tool-ul li
{
    margin-top: 20px;
    display: flex;
}


.tool-link-icon
{
    height:45px;
    border-radius: 50%;
}

.item-link
{
    font-size: 24px;
    transition: .3s;
    transition-timing-function: ease-in-out;
}

.item-link:hover
{
    font-size: 28px;
    transform: translateX(35px);
}

.Help
{
    margin-bottom: -20px;
    transition: .5s;
}
.Help :hover
{
    color: rgb(250, 216, 65);
}

.smile
{
    height: 18px;
    transition: .3s;
}


 
.smile:hover
{
    height: 25px;
}






section
{
    /* height: 700px; */
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

}

aside
{
    height: 50% ;
    width: 90%;
}
img
{
    cursor: pointer;
}

article
{
    height: 50%;
    display: flex;
    justify-content: center;
}

.heading
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
}

.body
{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    width: 100%;
    height: fit-content;
    margin-bottom: 100px;
}

.btn
{
    height: 100px;
    width: 200px;
    border-radius: 0px;
    margin: 5px;
}
.alert-btn
{
    height: 30px;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
}




.dummy
{
    /* height: 10%; */
}


#form
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#form input
{
    border-radius: 5px;
}

.modal-dialog
{
    border: 0;
    box-shadow: #FFFFFF 0px 0px 10px 0px ;
}



/* btn */
.button-26 {
    

  appearance: button;
  background-color: rgb(0, 0, 0);
  border: none;
  /* border-radius: 4px; */
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Graphik,-apple-system,system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-size: 14px;
  /* line-height: 1.15; */
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  /* text-align: center; */
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* width: fit-content; */
  display: flex;
    justify-content: center;
    align-items: center;
}

.button-26:disabled {
  opacity: .5;
}

.button-26:focus {
  outline: 0;
}

.button-26:hover {
  background-color: #ffffff;
  border: solid black;
  }

.button-26:active {
  background-color: #000000;
  ;
}











/* 32 inch */
@media all and (min-width:1500px) {
    


    body{
        overflow: hidden;
    }
    

.LMT
{
    margin-top: 30px;
}
}

/* lap screen */
@media all and (max-width:1400px)
{
    *{
        overflow: hidden;
    }
    .ass-lmt{
        margin-top: 10px;
    }
    .navbar-nav a img
{
    height: 18px;
}

    .alert-dismissible
{
    position: absolute;
    margin-left: 800px;
    margin-top: -450px;
    z-index: 1;
}

    .button-26 {
    
        height: 50px;
      }
      article.body
      {
        margin: 0;
      }
      article.heading
      {
        height: 60px;
      }
      

section
{

    height: 90dvh;
}
.fa-circle-question
{
    display: none;
}
.tool-ul
{
    height: 360px;
    overflow: hidden;
}
}




@media all and (max-width:700px)
{
    section
{
    height: 110dvh;
}
*
{
    overflow: hidden;
}

.button-26
{
    overflow: hidden;
    padding: 0;
}
}





/* phone view */

@media all and (max-width:468px)
{

    body
    {
        height: 100dvh;
        width: 100%;
    }


    .LMT
    {
        margin-top: 100px;
    }

    .btn
{
    height: 75px;
    width: 100px;
    border-radius: 0px;
    margin: 5px;
}

*
{
    overflow: hidden;
}
body
{
    overflow: scroll;
}

.button-26
{
    overflow: hidden;
    padding: 0;
}

section
{
    height: 150dvh;
}
}









::-webkit-scrollbar
{
    width: 100px;
}