*
{
    padding: 0px;
    border: 0px;
    /* overflow: hidden; */
}

h1
{
    overflow: hidden;
}

a
{
    text-decoration: none;
}

ul
{
    list-style-type: none;
}


html{
    height: 100vh;
    }
    
    body{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        bottom: 0;
        background-color: rgb(255, 255, 255);
        }


nav
{
    height: 100px;
}

.navbar-brand
{
    /* margin-left: 50px; */
    /* margin-bottom: 10px; */
    /* height: 30px; */
}
.navbar-brand p
{
    font-size: 50px;
    margin-left: 80px;
}


.fa-arrow-left
{
    font-size: 35px;
    margin-left: 90px;
}

.badge
{
    padding: 1px;
    height: 20px;
    width: 40px;
}




.item-link:hover
{
    font-size: 28px;
    transform: translateX(35px);
}



.Help
{
    margin-right: 70px;
    color: #FFFFFF;
    margin-bottom: -20px;
    transition: .5s;
}
.Help :hover
{
    color: rgb(250, 216, 65);
}




section
{
    height: 85vh;
}

article
{
    height: 450px;
    width: 1200px;
    /* background-color: black; */
    transition: .5s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* article:hover
{
    height: 350px;
    width: 1230px;
    border-radius: 10px;
    background-color: #000000;
} */

.btn-main
{
    height: 100px;
    width: 170px;
    background-color: #FFFFFF;
    margin: 20px;
    border-radius: 2px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 0;
    border: solid black 2px;
    transition: .3s;
}

.btn-main:hover
{
    color: #ffffff;
    background-color: #000000;
}

.btn-main p
{
    font-size: 18px;
    margin: 0;
    font-family: "Libre Baskerville", serif;
    font-weight: 600;
}


.modal-dialog
{
    border: 0;
    box-shadow: #FFFFFF 0px 0px 10px 0px ;
}

.alert-btn
{
    height: 30px;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
}




.button-26 {
    

    appearance: button;
    background-color: rgb(0, 0, 0);
    border: none;
    /* border-radius: 4px; */
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Graphik,-apple-system,system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 14px;
    /* line-height: 1.15; */
    overflow: visible;
    padding: 12px 16px;
    position: relative;
    /* text-align: center; */
    text-transform: none;
    transition: all 80ms ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* width: fit-content; */
    display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .button-26:disabled {
    opacity: .5;
  }
  
  .button-26:focus {
    outline: 0;
  }
  
  .button-26:hover {
    background-color: #ffffff;
    border: solid black;
    }
  
  .button-26:active {
    background-color: #000000;
    ;
  }

  
  
#form
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 260px;
}

#form input
{
    border-radius: 5px;
    height: 35px;
}

input 
{
    padding: 0px 0px 0px 15px;
}
textarea
{
    padding: 0px 0px 0px 15px;
    height: 100px;
    margin-bottom: 20px;
}

.modal-dialog
{
    border: 0;
    box-shadow: #FFFFFF 0px 0px 10px 0px ;
}








/* lap screen */
@media all and (max-width:1400px)
{

    aside
{
    height: 400px;
    width: 900px;
    background-color: black;
    transition: 1s;
    
}

aside:hover
{
    height: 410px;
    width: 930px;
    border-radius: 30px;
}



}