body
{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

section
{
    height: 500px;
    width: 700px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input
{
    height: 500px;
    width: 500px;
    background-color: aliceblue;
    color: black;
}