*
{
    padding: 0;
    margin: 0;
}


section
{
    height: 2000px;
    background: linear-gradient(black,white);
}

::-webkit-scrollbar
{
    display: none;
}

::-webkit-scrollbar:hover
{
    display: visible;
}